<div class="category" @key="category.Id">
    <a href="@(category.Id != 0 ? $"/ProductsByCategory/{category.Id}" : "javascript:void(0)")"
       class="categoryLinkIndex @(category.Id == -1 ? " text-danger" : (category.Id != 0 ? "" : "pe-none"))">
        <i class="bi bi-grid-fill"></i>
        <span>@(isArabic ? category.Name_ar : category.Name_de)</span>
    </a>
</div>

@code {
	[Parameter]
	public Categories category { get; set; } = new ();
    private bool isArabic = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar";
}
