@inherits LayoutComponentBase

@if (!isRended)
{
    <div class="lodingContainer">
        <p>wird geladen... </p>
    </div>
}
else
{
    @if (!HeaderHidden)
    {
        <Header />
        <CategoryNav />
    }


    <div class="page">
        <main class="main-content">
            <article class="content px-4">
                @Body
            </article>
        </main>

    </div>

    @if (!HeaderHidden && showFooter)
    {
        <Footer />
    }

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
  
}
@code{
    private bool HeaderHidden => NavigationManager.Uri.Contains("login") || 
    NavigationManager.Uri.Contains("signup") || 
    NavigationManager.Uri.Contains("forgotpassword") ||
    NavigationManager.Uri.Contains("confirmemail");
    private bool isRended = false;

    private bool showFooter = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRended = true;
            // Initialize the cartService to get the saved cart
            await cartService.InitializeAsync();

            StateHasChanged();
        }
    }
}
