
.page {
    display: flex;
    flex-direction: column;
    background-color: var(--mainBackgroundColor);
    min-height: 100vh;
    flex: 1;
    padding-top: calc(6rem + 3rem); /* header height und categoryNav height */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff0000 !important;
}


.mainContent {
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--mainBackgroundColor);
    width: 100%;
    
}


@media (max-width: 768px) {
    .page {
        padding-top: calc(6rem + 7rem); /* header height und categoryNav height */
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
