@if (product != null)
{
    <img @onclick="() => OnProduct(product.Id)" src="@productImagesService.GetProductImageUrl(product.ProductImages.FirstOrDefault(i => i.IsMain)!)" loading="lazy" alt="@product.Name_de" />
   <div @onclick="() => OnProduct(product.Id)" class="textCard">
     <a>
        @(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
         ? product.Name_ar
         : product.Name_de)
     </a>
	<PriceLayout ProductId="ProductId" />

   </div>
}
@code {
    [Parameter]
    public int ProductId { get; set; }

    private Product product = null!;
    protected override async Task OnInitializedAsync()
    {
        product = productService.GetProductByIdLocal(ProductId) ?? await productService.GetProductByIdAsync(ProductId);
    }

    // On Product Click
    private void OnProduct(int ProductId)
    {
        NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
    }
}
