.shareDiv {
    display: flex;
    justify-content: flex-start;
    width:100%;
}

.shareBtn {
    border:none;
}

    .shareBtn:hover {
        transform: translateY(-2px) scale(1.02);
    }

    .shareBtn:active {
        transform: scale(0.96);
    }

    .shareBtn i {
        font-size: 20px;
    }

@media (max-width: 768px) {
    .shareDiv[dir="rtl"] {
        justify-content: flex-end;
    }
    .shareDiv[dir="rtl"] {
        justify-content: flex-start;
    }
}