@page "/confirmemail"
@inject IStringLocalizer< WAHShopForntend.Resources.ConfirmEmail> L
@inject NavigationManager NavManager

@if (activateRequest.IsLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height:100px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">@L["Loading"]</span>
        </div>
    </div>
}
else
{
   <h3>@activateRequest.StatusMessage</h3>

   @if (activateRequest.IsActivated)
   {
    <button class="btn btn-primary" @onclick="GoToLogin">@L["GoToLogin"]</button>
   }
}

@code {
	private ActivateRequest activateRequest { get; set; } = new ActivateRequest();

    protected override async Task OnInitializedAsync()
    {
		activateRequest.IsLoading = true;
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        var userId = query["userId"];
        var token = query["token"];

        if (string.IsNullOrEmpty(userId) || string.IsNullOrEmpty(token))
        {
            activateRequest.StatusMessage = L["MissingData"];
            activateRequest.IsActivated = false;
            return;
        }

		 activateRequest = new ActivateRequest
			{
				UserId = userId,
				Token = token
			};

        var result = await authService.UserActivate(activateRequest);
        if (result.Result)
        {
            activateRequest.StatusMessage = L["ConfirmationSuccessful"];
            activateRequest.IsActivated = true;
        }
        else
        {
            activateRequest.StatusMessage = result.Message!;
            activateRequest.IsActivated = false;
        }
		activateRequest.IsLoading = false;
    }
	private void GoToLogin()
	{
		NavManager.NavigateTo("/login");
	}
}
