.mainDiv {
    margin-top: calc(var(--header-height, 96px) + var(--categoryNav-height, 53px));
    padding: 10px;
}
.moreLoadContainer {
    text-align: center;
    margin: 20px 20px;
}

    .moreLoadContainer button {
        padding: 10px 20px;
        font-weight: 500;
    }
