@page "/searchProducts/{productId:int}"
@page "/searchProducts/{productId:int}/{searchText}"
@inject IStringLocalizer< WAHShopForntend.Resources.SearchProducts> L
@if (Isloading)
{
	<div class="lodingContainer">
		<p>wird geladen... </p>
	</div>
}
else
{
		@if (searchedProducts.Count > 0)
		{
			<div class="productItems">
				@for (int i = 0; i < searchedProducts.Count;i++)
				{
					// product
					var product = searchedProducts[i];
					// cart product, bind with productId,quantity and product, the in OnInititalized configured.
					/*var cartItem = searchedProducts[i].CartItem;
				    cartItem.Product = cartItem.Product ?? product;*/

					<div class="cardProduct">
				     	<WAHShopForntend.Components.Layout.ProductInfo ProductId="@product.Id" />
						<WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />
					</div>
				}
			</div>
		}
		else
		{
			<p>Keine Produkte gefunden.</p>
		}
	
}
@code {
	[Parameter]
	public int productId { get; set; }
	[Parameter]
	public string? searchText { get; set; } = string.Empty;	

	private List<Product> searchedProducts = new();
	private List<CartItem> tempCartItems = new();
	private bool Isloading = true;
	protected override async Task OnInitializedAsync()
	{
		Isloading = true;

		// get on clicked item
		var product = productService.GetProductByIdLocal(productId)
					?? await productService.GetProductByIdServer(productId);
		// add to mainPage product list
		if (product != null)
		{
			product.InitializeCartItem(cartService.GetQuantityOfProduct(product.Id));
			searchedProducts.Add(product);
		}

		// search first local
		List<Product> searchedResults = new();
		searchedResults = searchService.SearchProductsLocal(searchText!, new() { productId });
		// if local search returns no results, search from server
		if (searchedResults != null && searchedResults.Count == 0)
		{
			searchedResults = await searchService.SearchProductsAsync(searchText!, new() {productId});
			// add to local product list
			if (searchedResults != null && searchedResults.Count > 0)
			{
				productService.AddProductToLocal(searchedResults);
			}
		}

		// add to mainPage product list
		if (searchedResults != null && searchedResults.Count > 0)
		{
			foreach (var p in searchedResults)
			{
				p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
			}
		
			searchedProducts.InsertRange(searchedProducts.Count,searchedResults);
		}
		Isloading = false;
	}
	// On Product Click
	private void OnProduct(int ProductId)
	{
		NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
	}
}
