<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WAHShopForntend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- ✅ ProductImage Proxy -->
        <rule name="ProductImagesProxy">
          <match url="^ProductImages/(.*)$" />
          <action type="Rewrite" url="http://localhost:2030/api/ShareStorage/ProductsImages/{R:1}" />
        </rule>
        <rule name="CarouselImagesProxy">
          <match url="^CarouselImages/(.*)$" />
          <action type="Rewrite" url="http://localhost:2030/api/ShareStorage/CarouselImages/{R:1}" />
        </rule>
        <!-- Google Login -->
        <rule name="GoogleLoginProxy" stopProcessing="true">
          <match url="^users/google-login$" />
          <action type="Rewrite" url="http://localhost:2030/api/users/google-login" />
        </rule>
        <!-- Google OAuth callback -->
        <rule name="GoogleSigninCallback" stopProcessing="true">
          <match url="^signin-google$" />
          <action type="Rewrite" url="http://localhost:2030/signin-google" />
        </rule>
        <!-- Google response to api -->
        <rule name="GoogleResponseProxy" stopProcessing="true">
          <match url="^api/Users/google-response$" />
          <action type="Rewrite" url="http://localhost:2030/api/Users/google-response" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
