.categoryNav[b-m0it68jiko] {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

    .categoryNav[b-m0it68jiko]::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

.categoryLink[b-m0it68jiko] {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.2s ease;
    white-space: nowrap; /* لا تنكسر الكلمات */
    cursor: pointer;
    display: flex;
    align-items: center; /* محاذاة عمودية */
    justify-content: center; /* محاذاة أفقية إذا أردت */
}
        /* Hover style */
    .categoryLink:hover[b-m0it68jiko] {
        background-color: #e0e0e0;
    }
    .categoryLink.selected[b-m0it68jiko] {
        background-color: #d6d6d6; /* خلفية أغمق */
        color: #333333; /* لون النص أبيض عشان يبين */
        border-radius: 4px;
    }
.dropdown[b-m0it68jiko] {
    position: relative;
    display: inline-block;
}

.dropdownButton[b-m0it68jiko] {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #f7f7f7;
    color:black;
}
    .dropdownButton:hover[b-m0it68jiko] {
        background-color: #e0e0e0;
    }
    .dropdownMenu[b-m0it68jiko] {
        display: none;
        position: fixed;
        background: white;
        border: 1px solid #f7f7f7;
        z-index: 100;
        gap: 10px; 
        padding:10px;
        text-align:center;
    }

.dropdown:hover .dropdownMenu[b-m0it68jiko] {
    display: flex; /* تظهر عند المرور */
}

.column[b-m0it68jiko] {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .column li[b-m0it68jiko] {
        padding: 8px 10px;
        cursor: pointer;
        white-space: nowrap;
    }

        .column li:hover[b-m0it68jiko] {
            background: #f1f1f1;
        }
/* Responsive تحسين للموبايل */
@media (max-width: 750px) {
    .categoryNav[b-m0it68jiko] {
        justify-content: center;
        
    }

        .categoryNav a[b-m0it68jiko] {
            font-size: 0.9rem;
            padding: 4px 8px;
        }
    .dropdownMenu[b-m0it68jiko] {
        transform: none; 
        flex-direction: column;
        max-height: 200px; 
        overflow-y: auto; 
    }

    .dropdown:hover .dropdownMenu[b-m0it68jiko] {
        padding:10px;
    }
}
@media (max-width: 480px) {
    .categoryNav[b-m0it68jiko] {
        justify-content: center;
    }

        .categoryNav a[b-m0it68jiko] {
            font-size: 0.9rem;
            padding: 4px 8px;
        }

    .dropdownMenu[b-m0it68jiko] {
        transform: none;
        flex-direction: column;
        max-height: 200px;
        overflow-y: auto;
    }

    .dropdown:hover .dropdownMenu[b-m0it68jiko] {
        padding: 10px;
    }
}
